<div class="row">
  <div class="col-md-6 mb-5">
    <div class="mb-5">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          <button type="button" class="w-100 btn btn-success float-md-end">
            Set default values
          </button>
        </div>
        <div class="col-12 col-md-6">
          <button type="button" class="w-100 btn btn-warning">
            Patch default values
          </button>
        </div>
      </div>
    </div>
    <form [formGroup]="userDataReactiveForm" (ngSubmit)="onSubmit()">
      <!-- Basic info  -->
      <div class="mb-5">
        <h3 class="mb-5">Basic information</h3>

        <!-- First name  -->
        <div class="mb-3">
          <label for="firstName">First Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="firstName"
            id="firstName"
            aria-describedby="firstNameHelp"
            placeholder="Enter first name"
          />
          <small id="firstNameHelp" class="form-text text-danger"
            >firstNameHelp</small
          >
        </div>

        <!-- Last name  -->
        <div class="mb-3">
          <label for="lastName">Last Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="lastName"
            id="lastName"
            aria-describedby="lastNameHelp"
            placeholder="Enter last name"
          />
          <small id="lastNameHelp" class="form-text text-danger"
            >lastNameHelp</small
          >
        </div>

        <!-- Gender  -->
        <div class="mb-3">
          <label for="gender">Gender</label>&nbsp;
          <div
            class="form-check form-check-inline"
            *ngFor="let gender of gendersList"
          >
            <input
              class="form-check-input"
              type="radio"
              [value]="gender"
              id="{{
                ('radioButton' + (gender | titlecase)).split(' ').join('')
              }}"
              formControlName="gender"
            />
            <label
              class="form-check-label"
              for="{{
                ('radioButton' + (gender | titlecase)).split(' ').join('')
              }}"
              >{{ gender | titlecase }}</label
            >
          </div>
        </div>

        <!-- Mobile  -->
        <div class="mb-3">
          <label for="mobile">Mobile</label>
          <input
            type="number"
            class="form-control"
            formControlName="mobile"
            id="mobile"
            aria-describedby="mobileHelp"
            placeholder="Enter mobile number"
          />
          <small id="mobileHelp" class="form-text text-danger"
            >mobileHelp</small
          >
        </div>

        <!-- DOB -->
        <div class="mb-3">
          <label for="date">Date</label>
          <input
            type="date"
            class="form-control date"
            formControlName="dateOfBirth"
            id="dateOfBirth"
            placeholder="Enter date in DD-MM-YYYY format"
          />
        </div>

        <!-- Salary Range -->
        <div class="mb-3">
          <label for="salary" class="mt-2">Salary (in LPA)</label>
          <input
            type="range"
            class="form-range border-0"
            formControlName="salary"
            id="salary"
            aria-describedby="salaryHelpId"
            placeholder="Salary in LPA"
            value="4.25"
            step="0.01"
            min="2"
            max="15"
            (input)="mobileHelp.innerHTML = salary.value"
            #salary
          />
          <small #mobileHelp id="mobileHelp" class="form-text text-danger"
            >mobileHelp</small
          >
        </div>
      </div>

      <!-- Login info  -->
      <div class="mb-5" formGroupName="loginInformation">
        <h3 class="mb-5">Login information</h3>
        <!-- Email  -->
        <div class="mb-3">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            formControlName="email"
            id="email"
            aria-describedby="emailHelp"
            placeholder="Enter Email"
            [class.is-invalid]="showErrorsForEmail()"
          />
          <small id="emailHelp" class="form-text text-danger">{{
            showErrorsForEmail()
          }}</small>
        </div>

        <!-- Password  -->
        <div class="mb-3">
          <label for="password">Password</label>
          <div class="input-group">
            <input
              [type]="showPassword ? 'text' : 'password'"
              class="form-control"
              formControlName="password"
              id="password"
              aria-describedby="passwordHelp"
              placeholder="Enter Password"
            />
            <div
              class="input-group-text"
              (click)="showPassword = !showPassword"
            >
              <i
                class="fa"
                [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"
              ></i>
            </div>
          </div>
          <small id="passwordHelp" class="form-text text-danger"
            >passwordHelp</small
          >
        </div>

        <!-- Confirm Password  -->
        <div class="mb-3">
          <label for="confirmPassword">Confirm Password</label>
          <div class="input-group">
            <input
              [type]="showConfirmPassword ? 'text' : 'password'"
              class="form-control"
              formControlName="confirmPassword"
              id="confirmPassword"
              aria-describedby="confirmPasswordHelp"
              placeholder="Confirm password"
            />
            <div
              class="input-group-text"
              (click)="showConfirmPassword = !showConfirmPassword"
            >
              <i
                class="fa"
                [ngClass]="showConfirmPassword ? 'fa-eye' : 'fa-eye-slash'"
              ></i>
            </div>
          </div>
          <small id="confirmPasswordHelp" class="form-text text-danger"
            >confirmPasswordHelp</small
          >
        </div>
      </div>

      <!-- isAdmin  -->
      <div class="mb-5">
        <label for="adminAccess" class="h3 mb-3">Admin Rights</label>&nbsp;
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="adminAccess"
            formControlName="isAdmin"
          />
          <label class="form-check-label" for="adminAccess"
            >Provide admin access to this user</label
          >
        </div>
      </div>

      <!-- Submit  -->
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="col-md-6">
    <div class="bg-dark text-info p-5">
      <pre>
<code>
{{ savedFormData | json}}
</code>
      </pre>
    </div>
  </div>
</div>
