<div class="container-fluid">
  <div class="row">
    <h1 class="display-4 bg-light p-5">{{ title }}</h1>
  </div>
  <div class="row">
    <div class="alert alert-primary px-5">{{ description }}</div>
  </div>
  <div class="row">
    <div class="px-5">
      <div class="input-group mt-3 mb-5">
        <input
          type="text"
          name="searchKeyword"
          id="searchInput"
          class="form-control"
          placeholder="Enter a keyword to search..."
          aria-describedby="sufixId"
          [(ngModel)]="keyword"
        />
        <span class="input-group-text" id="sufixId">
          <i class="fa fa-search"></i>
        </span>
      </div>
      <div
        class="card bg-dark text-light mb-3"
        *ngFor="let user of users | search: keyword"
      >
        <!-- <div class="card-header h5">{{ user.username }}</div> -->
        <div class="card-body p-5">
          <h5 class="card-title display-4">{{ user.name }}</h5>
          <p class="card-text h3">
            <code class="text-info">{{ user.address.city }}</code>
          </p>
          <hr />
          <code class="text-warning h6">
            <pre
              >{{ user | json }}
</pre
            >
          </code>
        </div>
        <!-- <div class="card-footer text-info">{{ user.email }}</div> -->
      </div>
    </div>
  </div>
</div>
