<div class="container-fluid">
  <div class="row">
    <h1 class="display-4 bg-light p-5">{{ title }}</h1>
  </div>
  <div class="row">
    <div class="alert alert-primary px-5">{{ description }}</div>
  </div>
  <div class="row">
    <div class="px-5">
      <div class="mb-3">
        <input
          class="form-control"
          id=""
          type="text"
          placeholder="Enter some random text here..."
          aria-label=""
          #inputBox
        />
      </div>
      <button class="btn btn-primary mb-3" (click)="displayValue()">
        Click the button to display input text below (using @ViewChild)
      </button>
      <p class="lead" *ngIf="output">{{ output }}</p>
    </div>
  </div>
</div>
