<h1 class="bg-light p-5" *ngIf="author">{{ author }}</h1>

<ul class="nav nav-pills mb-3">
  <li class="nav-item">
    <a
      class="nav-link text-success"
      [routerLink]="['/movies', 1, 'ala-vaikuntapuramulo']"
      [queryParams]="{ page: 1, search: 'telugu' }"
      (click)="suggestUserToLoginIfNotLoggedIn()"
      >AVP</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link text-danger"
      [routerLink]="['/movies', 2, 'sarileru-neekevvaru']"
      [queryParams]="{ page: 1, search: 'telugu' }"
      (click)="suggestUserToLoginIfNotLoggedIn()"
      >SNK</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLink]="['/movies', 3, 'raja-raja-chora']"
      [queryParams]="{ page: 1, search: 'telugu' }"
      (click)="suggestUserToLoginIfNotLoggedIn()"
      >RRC</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLink]="['/movies', 1, 'telugu']"
      [queryParams]="{ page: 1, search: 'telugu' }"
      [fragment]="'refresh'"
      (click)="suggestUserToLoginIfNotLoggedIn()"
      >Telugu Movies</a
    >
  </li>
</ul>
<router-outlet></router-outlet>
<div class="alert alert-warning p-5 h3" *ngIf="displayAlert">
  Please LOGIN to see the movie details
</div>
