<div class="clearfix mb-3">
    <button type="button" class="btn btn-warning float-start">
        <i class="fa fa-gear"></i>&nbsp;Settings</button>
    <button type="button" class="btn btn-danger float-end">
        <i class="fa fa-sign-out"></i>&nbsp;Logout</button>
</div>
<div class="p-5 bg-dark text-info text-center">
    <h1 class="display-1 mb-5">Hi {{'USER'}}!</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non ducimus totam consequatur quo deleniti
        aut aspernatur rem praesentium impedit itaque.</p>
</div>